
@font-face {
    font-family: "Norse";
    src: url("Norse/Norse.woff") format("woff"),
    url("Norse/Norse.woff2") format("woff2");
}

@font-face {
    font-family: "Tecnocratico";
    src: url("Tecnocratico/f2Tecnocratica.woff") format("woff"),
    url("Tecnocratico/f2Tecnocratica.woff2") format("woff2")
}

body{
font-size: 20px;    
margin: 0;
padding: 0px;
padding-block: 0px;


}

.container-total{
display: flex;

}

.container-image .image{
position: relative;    
width: 35rem;
height: 100vh;  
}

.image {
width: 100%;   
min-height: 100%;
}

.content-text{ 
 position: absolute;     
 top: 30%;
 left: 2%;
 background-color: rgb(0, 0, 0, 0.5);   
 border-radius: 22px;
 display: flex;
 align-items: center;
 font-family: "Norse";
 padding-inline: 125px;
}

.decepticon{ 
 width: 80px;
 height: 90px;   
}

.title{
font-size: 44px;   
color: aliceblue;
padding: auto;
text-shadow: 3px 3px 4px rgb(94, 4, 102);
}

.author{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: absolute;
top: 97%;
color: beige;   
font-size: 15px;
padding: 0px;
margin: 0px;
}

a:hover{
color: rgb(225, 11, 22);
}

.paragraph{
 padding-top: 30px;
 display: flex;   
 flex-direction: column;
 font-size: 25px;  
 font-family: "Tecnocratico"; 
 color: rgb(211, 207, 207);
 
}

.content-form-text{
display: flex;    
flex-direction: column;
background: url("morado.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

h1{
  font-size: 27px;  
  color: rgb(208, 194, 194);

}

label{
color: rgb(165, 162, 157);    
display: block;
max-width: 9em;
}

input{
min-width: 17em;  
}

.content-form-total{
display: flex;  
flex-direction: column;
gap: 2em;
background-color: rgb(0, 0, 0,0.5);
padding-left: 250px;  
}

.content-form1,.content-form2,.content-form3{
display: flex;  
justify-content: start;
gap: 6em;

}

.button{
padding: 20px;  
font-size: 20px;
height: 40px;
}

button{
font-size: 20px;  
}